@model UserProfileViewModel

<h2>Twój profil</h2>

<dl>
    <dt>Id:</dt>
    <dd>@Model.Id</dd>

    <dt>Imie:</dt>
    <dd>@Model.Imie</dd>

    <dt>Nazwisko:</dt>
    <dd>@Model.Nazwisko</dd>

    <dt>Pesel:</dt>
    <dd>@Model.Pesel</dd>

    <dt>Numer Telefonu:</dt>
    <dd>@Model.PhoneNumber</dd>

    <dt>Adres:</dt>
    <dd>@Model.Adres</dd>

    <dt>Email:</dt>
    <dd>@Model.Email</dd>
    

</dl>