@model Clinic
@{

    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w naszej klinice Denta Smile ;)</h1>
</div>

<div>
    <h2>Dane kliniki</h2>
    <p>Nazwa: @Model.Name</p>
    <p>Adres: @Model.Address</p>
    <p>Numer telefonu: @Model.PhoneNumber</p>
</div>

<h2>Panel logowania</h2>

<div class="content pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="~/images/login.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 px-5">
                <div class="row justify-content-center">
                    <div class=" col-8 col-md-12">
                        <div class="mb-4">
                     
                        </div>
                        
<form method="post" asp-controller="Account" asp-action="Login">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <a asp-action="ForgotPassword">Nie pamiętam hasła</a>
    </div>
    <button type="submit">Zaloguj</button>
    <a asp-controller="Account" asp-action="Register">Rejestruj</a>
</form>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function onClickSubmit() {
            $("#loginForm").submit();
        }
    </script>
}
<script type="text/javascript">
    window.onload = function () {
        if ('@TempData["Message"]' != "") {
            $.notify("@TempData["Message"]", { color: "#fff", background: "#20D67B" })
        }
        else if ('@TempData["ErrorMessage"]' != "") {
            $.notify("@TempData["ErrorMessage"]", { color: "#fff", background: "#D44950" })
        }
    }
</script>